<div>

  <!-- It is designed to be viewed only on desktop and laptop devices. -->
  <div class="block Large_Mobile_Devices_Size_View:hidden Medium_Mobile_Devices_Size_View:hidden Small_Mobile_Devices_Size_View:hidden">
    <p class="text-xs text-[#6C727F] font-normal">{{ get_Full_Name() }}</p>
  </div>

  <!-- It is designed to be viewed only on Large Mobile devices. -->
  <div class="hidden Large_Mobile_Devices_Size_View:block Medium_Mobile_Devices_Size_View:hidden Small_Mobile_Devices_Size_View:hidden">
    <p class="text-xs text-[#6C727F] font-normal">{{ get_Full_Name() }}</p>
  </div>

  <!-- It is designed to be viewed only on Medium Mobile devices. -->
  <div class="hidden Large_Mobile_Devices_Size_View:hidden Medium_Mobile_Devices_Size_View:block Small_Mobile_Devices_Size_View:hidden">
    <p class="text-[9px] text-[#6C727F] font-normal">{{ get_Full_Name() }}</p>
  </div>

  <!-- It is designed to be viewed only on Small Mobile devices. -->
  <div class="hidden Large_Mobile_Devices_Size_View:hidden Medium_Mobile_Devices_Size_View:hidden Small_Mobile_Devices_Size_View:block">
    <p class="text-[7px] text-[#6C727F] font-normal">{{ get_Full_Name() }}</p>
  </div>

</div>
