<div>

  <!-- It is designed to be viewed only on desktop and laptop devices. -->
  <div class="block Large_Mobile_Devices_Size_View:hidden Medium_Mobile_Devices_Size_View:hidden Small_Mobile_Devices_Size_View:hidden">
    <img src="../assets/Images/cactus_img.jpg" alt="This is Cactus Plant." class="h-[152px] w-[336px] rounded-xl" />
  </div>

  <!-- It is designed to be viewed only on Large Mobile devices. -->
  <div class="hidden Large_Mobile_Devices_Size_View:block Medium_Mobile_Devices_Size_View:hidden Small_Mobile_Devices_Size_View:hidden">
    <img src="../assets/Images/cactus_img.jpg" alt="This is Cactus Plant." class="h-32 w-80 rounded-xl" />
  </div>

  <!-- It is designed to be viewed only on Medium Mobile devices. -->
  <div class="hidden Large_Mobile_Devices_Size_View:hidden Medium_Mobile_Devices_Size_View:block Small_Mobile_Devices_Size_View:hidden">
    <img src="../assets/Images/cactus_img.jpg" alt="This is Cactus Plant." class="h-28 w-72 rounded-xl" />
  </div>

  <!-- It is designed to be viewed only on Small Mobile devices. -->
  <div class="hidden Large_Mobile_Devices_Size_View:hidden Medium_Mobile_Devices_Size_View:hidden Small_Mobile_Devices_Size_View:block">
    <img src="../assets/Images/cactus_img.jpg" alt="This is Cactus Plant." class="h-28 w-[260px] rounded-xl" />
  </div>

</div>
