<div>

  <!-- It is designed to be viewed only on desktop and laptop devices. -->
  <div class="block Large_Mobile_Devices_Size_View:hidden Medium_Mobile_Devices_Size_View:hidden Small_Mobile_Devices_Size_View:hidden">
    <div class="bg-[#E6D6FC] rounded-3xl flex justify-center items-center pt-1.5 pb-1 px-4 my-4 w-16">
      <p class="text-[10px] text-[#883AE1] font-bold">{{ category }}</p>
    </div>
  </div>

  <!-- It is designed to be viewed only on Large Mobile devices. -->
  <div class="hidden Large_Mobile_Devices_Size_View:block Medium_Mobile_Devices_Size_View:hidden Small_Mobile_Devices_Size_View:hidden">
    <div class="bg-[#E6D6FC] rounded-3xl flex justify-center items-center pt-1.5 pb-1 px-4 my-4 w-16">
      <p class="text-[10px] text-[#883AE1] font-bold">{{ category }}</p>
    </div>
  </div>

  <!-- It is designed to be viewed only on Medium Mobile devices. -->
  <div class="hidden Large_Mobile_Devices_Size_View:hidden Medium_Mobile_Devices_Size_View:block Small_Mobile_Devices_Size_View:hidden">
    <div class="bg-[#E6D6FC] rounded-3xl flex justify-center items-center p-1 px-3 my-3 w-14">
      <p class="text-[8px] text-[#883AE1] font-bold">{{ category }}</p>
    </div>
  </div>

  <!-- It is designed to be viewed only on Small Mobile devices. -->
  <div class="hidden Large_Mobile_Devices_Size_View:hidden Medium_Mobile_Devices_Size_View:hidden Small_Mobile_Devices_Size_View:block">
    <div class="bg-[#E6D6FC] rounded-3xl flex justify-center items-center pt-1 pb-[3px] px-3 my-2 w-10">
      <p class="text-[6px] text-[#883AE1] font-bold">{{ category }}</p>
    </div>
  </div>

</div>
