<main>

  <!-- It is designed to be viewed only on desktop and laptop devices. -->
  <div class="block Large_Mobile_Devices_Size_View:hidden Medium_Mobile_Devices_Size_View:hidden Small_Mobile_Devices_Size_View:hidden">
    <div class="flex justify-center items-center h-screen w-full overflow-x-hidden overflow-y-auto bg-[#FAFAF9] font-Sora">
      <div class="flex justify-center items-center h-auto w-auto m-auto p-20">
        <div class="flex flex-col justify-start items-start h-auto w-auto bg-[#FFFFFF] rounded-xl box_shadow">
          <div class="p-4">
            <app-image></app-image>
            <app-category></app-category>
            <app-title></app-title>
            <app-description></app-description>
          </div>
          <div class="border-b-2 border-solid border-[#E5EAF0] w-full"></div>
          <div class="p-4">
            <app-author></app-author>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- It is designed to be viewed only on Large Mobile devices. -->
  <div class="hidden Large_Mobile_Devices_Size_View:block Medium_Mobile_Devices_Size_View:hidden Small_Mobile_Devices_Size_View:hidden">
    <div class="flex justify-center items-center h-screen w-full overflow-x-hidden overflow-y-auto bg-[#FAFAF9] font-Sora">
      <div class="flex justify-center items-center h-auto w-auto m-auto p-20">
        <div class="flex flex-col justify-start items-start h-auto w-auto bg-[#FFFFFF] rounded-xl box_shadow">
          <div class="p-4">
            <app-image></app-image>
            <app-category></app-category>
            <app-title></app-title>
            <app-description></app-description>
          </div>
          <div class="border-b-2 border-solid border-[#E5EAF0] w-full"></div>
          <div class="p-4">
            <app-author></app-author>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- It is designed to be viewed only on Medium Mobile devices. -->
  <div class="hidden Large_Mobile_Devices_Size_View:hidden Medium_Mobile_Devices_Size_View:block Small_Mobile_Devices_Size_View:hidden">
    <div class="flex justify-center items-center h-screen w-full overflow-x-hidden overflow-y-auto bg-[#FAFAF9] font-Sora">
      <div class="flex justify-center items-center h-auto w-auto m-auto p-20">
        <div class="flex flex-col justify-start items-start h-auto w-auto bg-[#FFFFFF] rounded-xl box_shadow">
          <div class="p-3">
            <app-image></app-image>
            <app-category></app-category>
            <app-title></app-title>
            <app-description></app-description>
          </div>
          <div class="border-b-2 border-solid border-[#E5EAF0] w-full"></div>
          <div class="p-3">
            <app-author></app-author>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- It is designed to be viewed only on Small Mobile devices. -->
  <div class="hidden Large_Mobile_Devices_Size_View:hidden Medium_Mobile_Devices_Size_View:hidden Small_Mobile_Devices_Size_View:block">
    <div class="flex justify-center items-center h-screen w-full overflow-x-hidden overflow-y-auto bg-[#FAFAF9] font-Sora">
      <div class="flex justify-center items-center h-auto w-auto m-auto p-20">
        <div class="flex flex-col justify-start items-start h-auto w-auto bg-[#FFFFFF] rounded-xl box_shadow">
          <div class="p-2">
            <app-image></app-image>
            <app-category></app-category>
            <app-title></app-title>
            <app-description></app-description>
          </div>
          <div class="border-b-2 border-solid border-[#E5EAF0] w-full"></div>
          <div class="p-2">
            <app-author></app-author>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
