<div>

  <!-- It is designed to be viewed only on desktop and laptop devices. -->
  <div class="block Large_Mobile_Devices_Size_View:hidden Medium_Mobile_Devices_Size_View:hidden Small_Mobile_Devices_Size_View:hidden">
    <p class="text-sm w-[310px] text-[#6C727F] font-light">From minimalist sculptures to minimalist paintings, this blog will inspire you to appreciate the beauty that lies in simplicity.</p>
  </div>

  <!-- It is designed to be viewed only on Large Mobile devices. -->
  <div class="hidden Large_Mobile_Devices_Size_View:block Medium_Mobile_Devices_Size_View:hidden Small_Mobile_Devices_Size_View:hidden">
    <p class="text-xs w-72 text-[#6C727F] font-light">From minimalist sculptures to minimalist paintings, this blog will inspire you to appreciate the beauty that lies in simplicity.</p>
  </div>

  <!-- It is designed to be viewed only on Medium Mobile devices. -->
  <div class="hidden Large_Mobile_Devices_Size_View:hidden Medium_Mobile_Devices_Size_View:block Small_Mobile_Devices_Size_View:hidden">
    <p class="text-[10px] w-60 text-[#6C727F] font-light">From minimalist sculptures to minimalist paintings, this blog will inspire you to appreciate the beauty that lies in simplicity.</p>
  </div>

  <!-- It is designed to be viewed only on Small Mobile devices. -->
  <div class="hidden Large_Mobile_Devices_Size_View:hidden Medium_Mobile_Devices_Size_View:hidden Small_Mobile_Devices_Size_View:block">
    <p class="text-[8px] w-48 text-[#6C727F] font-light">From minimalist sculptures to minimalist paintings, this blog will inspire you to appreciate the beauty that lies in simplicity.</p>
  </div>

</div>
